body {
    background-color: #E4EAF2;
}
#container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    justify-content: center;
    row-gap: 30px;
    column-gap: 70px;
    padding-bottom: 20px;
}

.user-item {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 20px;
}
.user-img {
    width: 100px;
}

.user-item p {
    font-size: 18px;
}

.user-item p:first-child {
    margin-top: 50px;
}
.user-item p:nth-child(2) {
    margin-top: 20px;
}

button {
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background: #A2BCD8;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
button:hover {
    box-shadow: inset 0 0 5px #e6e3e3;
}