@media screen and (max-width: 480px) {
    .navigation {
        width: 100%;
    }

    #main-content {
        width: 100%;
        padding: 10px
    }

    #comments-wrapper {
        display: flex;
        flex-direction: column;

    }

    .comment-container {
        width: auto;
    }

}
