body {
    background-color: #E4EAF2;
}

.navigation {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    background-color: #A2BCD8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    color: white;
    font-size: 20px;
}

#main-content {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 30px 45px 30px 45px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#post {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#user-info {
    width: 100%;
    display: flex;
    gap: 40px;
    background-color: #d4e1ef;
    padding: 20px;
    border-radius: 10px;
}

#user-img {
    width: 150px;
}

#user-id {
    padding-top: 100px;
    font-size: 18px;
}

#post-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(216, 217, 237, 0.81);

}

#post-id {
    margin-bottom: 20px;
    font-style: italic;
    color: #818181;
}

#post-title {
    font-size: 20px;
    margin-bottom: 15px;
}

#post-body {
    font-size: 20px;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.comment-author-img {
    width: 60px;
    display: block;
}

#comments{
    width: 100%;
}

#comments-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;
}
.comment-container{
    background-color: #bed3ea;
    padding: 15px;
    border-radius: 10px;
    width: 18vw;
}

.commentator-info {
    width: 100%;
    margin-bottom: 15px;
}

.comment-info {
    margin-bottom: 15px;
}
.comment-info p {
    color: #454444;
    font-style: italic;
}

.comment-title {
    margin-bottom: 10px;
}


