@media screen and (max-width: 480px) {
    body {
        padding-top: 15px;
    }

    #wrapper {
        width: 90%;
        height: 98%;
        gap: 10px;
        padding: 25px 5px 10px 15px;
    }

    .form-container {
        width: 100%;
        height: 115px;
    }

    #user-inputs {
        flex-direction: column;
        gap: 10px;
    }
    .name-value-input {
        width: 90%;
    }
    .name-value-input input[type='text'] {
        height: 40px;
    }
    .name-value-input label, .output-aria-title {
        font-size: 16px;
    }

    .form-container input[type='submit'] {
        width: 150px;
        height: 44px;
        margin-top: 0;
        font-size: 16px;
    }

    #output-container {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 20px;
    }

    #output-aria {
        width: 90%;
        height: 100%;
    }

    #name-value-list{
        height: 95%;
    }

    #output-buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 150px;
        width: 100px;
        padding-top: 18px;
    }

    #output-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        width: 90%;
        padding-top: 0;
    }
    #output-buttons button {
        height: 44px;
        margin-top: 0;
        font-size: 16px;
    }

    #delete {
        width: 70px;
    }

}