body {
    padding-top: 5%;
    background-color: #5d86b7;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    height: 70vh;
    width: 40vw;
    margin: 0 auto;
    background-color: #fdfdfd;
    border-radius: 5px;
    border: 1px solid #818181;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 30px;
    padding: 45px 10px 15px 50px;
}

#wrapper h2 {
    font-size: 22px;
}

.form-container {
    width: 100%;
    height: 50px;
}

#user-inputs {
    width: 100%;
    display: flex;
    gap: 50px;
}

.name-value-input {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3px;

}

.name-value-input input[type='text'] {
    width: 100%;
    height: 25px;
    border: 2px solid #d3d1d1;
    border-radius: 3px;
    padding: 2px;
    font-size: 14px;
}

.name-value-input label {
    font-size: 14px;
    color: rgba(9, 9, 9, 0.66);
}

.error {
    color: firebrick;
    margin-top: 3px;
    font-size: 12px;
}

.name-value-input input[type='text']::placeholder {
    padding-left: 5px;
}

.form-container input[type='submit'] {
    width: 50px;
    height: 25px;
    margin-top: 19px;
    border-radius: 3px;
    padding: 5px;
    background-color: #6d90bd;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-container input[type='submit']:hover {
    box-shadow: inset 0 0 5px #e6e3e3;
}

#output-container {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: start;
    gap: 50px;

}

#output-aria {
    width: 60%;
    height: 100%;
}

.output-aria-title {
    font-size: 14px;
    color: rgba(9, 9, 9, 0.66);
    margin-bottom: 3px;
}

#name-value-list {
    width: 100%;
    height: 80%;
    border: 2px solid #d3d1d1;
    border-radius: 3px;
    overflow-y: scroll;
}


#output-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 300px;
    width: 100px;
    padding-top: 18px;

}

#output-buttons button {
    border-radius: 3px;
    background-color: rgba(181, 179, 179, 0.49);
    padding: 5px;
    background-color: #6d90bd;
    color: #fff;
}

#output-buttons button:hover {
    box-shadow: inset 0 0 5px #e6e3e3;
}

#delete {
    width: 60px;
    margin-top: 20px;
}

.listElem {
    cursor: pointer;
    margin: 5px;
    border: 0.5px solid lightgray;
    padding: 2px;
    border-radius: 2px;
}

.listElem p {
    margin: 0;
    width: 100%;
    overflow-wrap: anywhere;
    word-break: break-word;
    padding: 5px;
}

.selected {
    background-color: #c5d1e5;
}
