body {
    padding-top: 5%;
    background-color: #5d86b7;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    height: 70vh;
    width: 40vw;
    margin: 0 auto;
    background-color: #fdfdfd;
    border-radius: 5px;
    border: 1px solid #818181;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 30px;
    padding: 45px 10px 15px 50px;
}

#wrapper h2{
 font-size: 22px;
}

.form-container {
    width: 100%;
    height: 50px;
}

#user-inputs {
    width: 100%;
    display: flex;
    gap: 50px;
}

.name-value-input {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.name-value-input input[type='text'] {
    width: 100%;
    height: 25px;
    border: 2px solid #d3d1d1;
    border-radius: 3px;
}

.name-value-input label {
    font-size: 14px;
    color: rgba(9, 9, 9, 0.66);
}
 .form-container input[type='submit'] {
  width: 50px;
  height: 25px;
  margin-top: 19px;
  border: 2px solid #d3d1d1;
  border-radius: 3px;
  background-color: rgba(181, 179, 179, 0.49);
}
 #output-container {
     width: 100%;
     height: 70%;
     display: flex;
     justify-content: start;
     gap: 50px;

 }
 #output-aria {
     width: 60%;
     height: 100%;
 }
 .output-aria-title{
     font-size: 14px;
     color: rgba(9, 9, 9, 0.66);
     margin-bottom: 3px;
 }

 #name-value-list {
     width: 100%;
     height: 80%;
     border: 2px solid #d3d1d1;
     border-radius: 3px;
 }

 #output-buttons {
     display: flex;
     flex-direction: column;
     gap: 15px;
     height: 300px;
     width: 100px;
     padding-top: 18px;
 }
#output-buttons button {
    border: 2px solid #d3d1d1;
    border-radius: 3px;
    background-color: rgba(181, 179, 179, 0.49);
    padding: 3px;
}

#delete {
    width: 60px;
    margin-top: 20px;
}