@media  screen and (min-width: 769px) and (max-width: 1279px){
    #wrapper {
        height: 75%;
        width: 85%;
        padding: 45px 15px 15px 30px;
    }

    .form-container {
        width: 100%;
        height: 80px;

    }

    #user-inputs {
        gap: 55px;
    }

    .name-value-input {
        height: 100%;
        width: 70%;
    }

    .name-value-input input[type='text'] {
        height: 45px;
        padding: 5px;
        font-size: 18px;
    }

    .name-value-input label, .output-aria-title {
        font-size: 18px;
    }
    .name-value-input input[type='text']::placeholder {
        font-size: 18px;
    }

    .form-container input[type='submit'] {
        width: 100px;
        height: 45px;
        font-size: 16px;
    }

    #output-aria {
        width: 70%;
        height: 100%;
    }

    #name-value-list {

    }
    #output-buttons {
        width: 180px;

    }

    #output-buttons button {
        height: 45px;
        font-size: 18px;
    }
    #delete {
        width: 100px;
    }

}