body {
    background-color: #E4EAF2;
}

.navigation {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    background-color: #A2BCD8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.main-container {
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    background-color: #f1f4f8;
    border-radius: 10px;
}

#user-details-list {
    font-size: 18px;
    background-color: #D3DCE9;
    width: 450px;
    padding: 25px;
    border-radius: 10px;
}

.nested-obj {
    padding-left: 20px;
    margin-bottom: 10px;
}

.user-img {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.user-img img {
    width: 250px;

}

#post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts {
    width: 90%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 0 auto;

}

.post-element {
    /*margin-left: 45px;*/
    width: auto;
    height: 200px;
    background-color: rgba(234, 234, 241, 0.81);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 5px 25px 5px;
    border-radius: 10px;
}

.post-element p {
    font-size: 18px;
}

.post-details-btn {
    width: 80%;
    height: 30px;
    font-size: 14px;
    background-color: #A2BCD8;
    color: white;
    border-radius: 10px;
}

#close-btn, #show-post-btn {
    width: 90%;
    height: 30px;
    background: #A2BCD8;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    margin: 30px auto;
}

